.gridContainer{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchContainer{
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.searchContainer input{
    background-color: rgb(245, 245, 245);
    border: none;
    width: 100%;
}
input:focus{
    outline: none;
}
.fa-search{
    color: rgb(100, 100, 100);
}
#matvarekjede{
    display: none;
}
.matvareContainer{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 25px;
}
.card{
    box-shadow: 0px 0px 8px rgb(160, 160, 160);
    border-radius: 5px;
    padding: 10%;
    text-decoration: none;
    color: black;
}
.card:hover{
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
}
.card:focus{
    box-shadow: 0px 0px 8px rgb(160, 160, 160);
}
.article{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
img{
    max-width: 60%;
    max-height: 100%;
}
.descriptionContainer{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media screen and (max-width: 800px){
    .matvareContainer{
        width: 90%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (max-width: 400px){
    .searchContainer{
        width: 90%;
    }
    .matvareContainer{
        width: 90%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}